:root {
    --basic-light-color: #faeaa8;
    --basic-dark-color: #131614;



    /* green */
    --brand-color-1: #f35200;
    --brand-color-1-active: #c54303;
    --brand-color-1-hover: #f76923;
    /* red */
    --brand-color-2: #716b01;
    --brand-color-2-hover: #7d4955;


    --box-border: 1px solid rgba(139, 240, 255, 0.179);

    --shadow-color: rgba(0, 0, 0, 0.488);
}


.lightText {
    color: var(--basic-light-color);
}
.darkText {
    color: var(--basic-dark-color);
}




:root {
    --background-color: var(--basic-light-color);
    --text-color: var(--basic-dark-color);
}

.mainBgColor {
    background-color: var(--background-color);
}

.mainTextColor {
    color: var(--text-color);
}

.BGC_Brand2_Hoverable {
    background-color: var(--brand-color-2);
}
.BGC_Brand2_Hoverable:hover {
    background-color: var(--brand-color-2-hover);
}